:root {
  --color-primary: #f4c613;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, .12);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-grey-light-2); }

/*
==============================================
animation
=============================================
*/
#home-heading-1,
#home-heading-2,
#home-text,
#home-btn,
#arrow-down i {
  animation-duration: 1.5s; }

#home-heading-1 {
  animation-delay: 1s; }

#home-heading-2 {
  animation-delay: 1.5s; }

#home-text {
  animation-delay: 2s; }

#home-btn {
  animation-delay: 2.5s; }

#arrow-down i {
  animation-delay: 3s; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  min-height: 100vh;
  color: var(--color-grey-dark-1); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem; }

p span {
  color: var(--color-primary); }

#home-heading h1 {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    #home-heading h1 {
      font-size: 4rem; } }

#home-heading h1 span {
  color: var(--color-primary);
  font-weight: 500; }

#home-text p {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 100;
  margin: 8px 0 30px 0; }
  @media only screen and (max-width: 56.25em) {
    #home-text p {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    #home-text p {
      font-size: 1.6rem; } }

.dark {
  color: var(--color-grey-dark-1); }

.white {
  color: #fff; }

.vertical-heading h5 {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -53px; }
  @media only screen and (max-width: 56.25em) {
    .vertical-heading h5 {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .vertical-heading h5 {
      transform: rotate(0);
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      display: block;
      position: static;
      text-align: center; } }

.vertical-heading h2 {
  margin: 0 0 0 35px; }
  @media only screen and (max-width: 37.5em) {
    .vertical-heading h2 {
      margin: 0; } }

.vertical-heading h2 span {
  color: var(--color-primary); }

.horizontal-heading h2,
.vertical-heading h2 {
  font-size: 4.2rem;
  font-weight: 100;
  line-height: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .horizontal-heading h2,
    .vertical-heading h2 {
      font-size: 3.6rem;
      line-height: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .horizontal-heading h2,
    .vertical-heading h2 {
      font-size: 3rem;
      text-align: center; } }

.horizontal-heading {
  margin-bottom: 80px; }

.horizontal-heading h5 {
  font-size: 16px;
  color: var(--color-primary);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px; }

.horizontal-heading h2 {
  margin: 0; }

.hod-heading h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: Raleway; }

/*
==============================================
                         Arrow down
=============================================
*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: 1; }

#arrow-down:hover,
#arrow-down:focus {
  color: var(--color-primary); }

.hod-about {
  padding-top: 1.4rem;
  font-weight: 400; }
  .hod-about-list-item {
    font-size: 1.4rem;
    font-family: "Raleway";
    list-style: none; }

/*
==============================================
About-02
=============================================
*/
.about-item {
  background-color: #fff;
  padding: 4.8rem 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 45rem; }
  @media only screen and (max-width: 37.5em) {
    .about-item {
      background-color: var(--color-primary); } }

.about-item i {
  font-size: 42px;
  margin: 0; }
  @media only screen and (max-width: 37.5em) {
    .about-item i {
      color: #fff; } }

.about-item h3 {
  font-size: 24px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 37.5em) {
    .about-item h3 {
      color: #fff; } }

.about-item hr {
  width: 45px;
  height: 3px;
  background-color: var(--color-primary);
  margin: 0 auto;
  border: none; }

.about-item p {
  margin-top: 20px; }
  @media only screen and (max-width: 37.5em) {
    .about-item p {
      color: #fff; } }

/*  Hover State  */
.about-item:hover {
  background-color: var(--color-primary); }

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #fff; }

.about-item hr {
  background-color: #fff; }

.about-item:hover i {
  transform: translateY(-20px); }

/* Smooth Transition */
.about-item,
.about-item i,
.about-item hr {
  transition: all .4s ease-in-out; }

.dept {
  box-shadow: var(--shadow-medium); }
  .dept-link {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none; }

.footer-nav {
  list-style: none;
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.footer-nav__link:link,
.footer-nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: inline-block;
  transition: all .2s; }

.footer-nav__link:hover,
.footer-nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-small {
      margin-top: 1rem !important; } }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.my-container {
  max-width: 120rem;
  margin: 0rem auto; }
  @media only screen and (max-width: 75em) {
    .my-container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

/*
==============================================
navigation
=============================================
*/
.navbar {
  padding: 35px 80px 20px 80px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      padding: 25px 12px; } }

.navbar.white-nav-top {
  padding: 10px 80px 10px 80px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear; }

.navbar-brand {
  padding: 13px 15px;
  font-size: 1.8rem; }

#hov:hover {
  color: var(--color-primary); }

ul.navbar-nav > li.nav-item > a.nav-link {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  /* text-transform: uppercase; */
  letter-spacing: 1px; }

ul.navbar-nav > li.nav-item > a.nav-link:hover,
ul.navbar-nav > li.nav-item > a.nav-link:focus {
  background: none;
  color: var(--color-primary); }

/* white-nav-top */
.white-nav-top {
  background: #fff;
  /* padding:10px 0; */
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2; }

.white-nav-top ul.navbar-nav > li.nav-item > a.nav-link {
  color: var(--color-grey-dark-1); }

.white-nav-top ul.navbar-nav > li.nav-item > a.nav-link:hover,
.white-nav-top ul.navbar-nav > li.nav-item > a.nav-link:focus {
  color: var(--color-primary); }

.white-nav-top .navbar-brand {
  color: var(--color-grey-dark-1); }

.white-nav-top > .container-fluid > a:hover {
  color: var(--color-grey-dark-1); }

/* Scroll spy active state */
.white-nav-top ul.navbar-nav > li.nav-item > a.active.nav-link {
  color: var(--color-primary);
  font-weight: 500; }

/*
==============================================
mobile menu
=============================================
*/
.navbar-header {
  position: relative; }

#mobile-nav #mobile-nav-content .nav {
  display: block; }

#mobile-nav-open-btn {
  font-size: 30px;
  color: #f4c613;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 6px;
  /* hide mobile nav open button */
  display: none; }

#mobile-nav {
  width: 100%;
  /* by default mobile nav will be hidden */
  /* height:100%; */
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  overflow-y: hidden; }

#mobile-nav-close-btn {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  color: #212226;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  top: -9px;
  right: 13px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s; }

#mobile-nav-content {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  position: relative;
  top: 10%; }

#mobile-nav ul li {
  margin-bottom: 20px; }

#mobile-nav a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #212226;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s; }

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
  color: #f4c613;
  background: none; }

/* mobile nav scroll spy active state */
.white-nav-top #mobile-nav ul.nav > li.active > a {
  color: #f4c613;
  font-weight: 500; }

/*
==============================================
bootstrap media queries
=============================================
*/
/* Large devices (desktop & laptop) */
@media (min-width: 1200px) and (max-width: 1299px) {
  /* navigation */
  .site-nav-wrapper {
    padding: 0 20px; } }

/* small devices (Portrait Tablets and small desktop) */
@media (min-width: 768px) and (max-width: 991px) {
  /* navigation */
  .site-nav-wrapper {
    padding: 0; } }

/* extra small devices (landscape phones & portrait tablets) */
@media (max-width: 767px) {
  /* navigation */
  .navbar.white-nav-top {
    padding: 20px 10px; } }

@media (max-width: 767px) {
  /* show mobile nav open btn */
  #mobile-nav-open-btn {
    display: block;
    position: absolute;
    right: 7%;
    top: 20%; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.74)), url(../images/departments/cse/back-header.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }

#home-content {
  width: 100%;
  height: 100%;
  display: table; }
  #home-content-inner {
    display: table-cell;
    vertical-align: middle; }

.my-row {
  max-width: 114rem;
  margin: 0 auto; }
  .my-row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .my-row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .my-row {
      max-width: 50rem; } }
  .my-row::after {
    content: "";
    display: table;
    clear: both; }
  .my-row [class^="col-"] {
    float: left; }
    .my-row [class^="col-"]:not(:last-child) {
      margin-right: 4rem;
      margin-bottom: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .my-row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .my-row [class^="col-"] {
        width: 100% !important; } }
  .my-row .col-1-of-2 {
    width: calc((100% - 4rem)/2); }
  .my-row .col-1-of-3 {
    width: calc((100% - 2 * 4rem)/3); }
  .my-row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem)/3) + 4rem); }
  .my-row .col-1-of-4 {
    width: calc((100% - 3 * 4rem)/4); }
  .my-row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem)/4) + 4rem); }
  .my-row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem)/4) + 2 * (4rem)); }

.hod-img {
  min-height: 22rem; }

/*
==============================================
                         Buttons
=============================================
*/
.btn-general {
  color: var(--color-grey-dark-1);
  font-family: 'Raleway', sans-serif;
  border-radius: 2.8rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 1.2rem 4.6rem;
  background-color: var(--color-primary);
  transition: all .5s; }

.btn-home {
  /* color:#fff; */
  border: 1px solid #fff; }

.btn-home:hover,
.btn-home:focus {
  color: #fff;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary); }

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 3px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 22px;
  display: none; }

.btn-yellow {
  color: #fff;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary); }

.btn-yellow:hover,
.btn-yellow:focus {
  color: #fff;
  background-color: var(--color-grey-dark-1);
  border: 1px solid var(--color-grey-dark-1); }

/*
==============================================
stats
=============================================
*/
#stats .content-box-md {
  background: rgba(0, 0, 0, 0.8); }

.vertical-heading {
  margin-bottom: 50px; }

#stats .vertical-heading h2 {
  color: #fff; }

.stats-item {
  background: rgba(61, 68, 68, 0.6);
  border-radius: 4px;
  min-height: 17rem;
  padding: 2.5rem 5rem;
  transition: all .4s linear; }
  @media only screen and (max-width: 56.25em) {
    .stats-item {
      margin-bottom: 20px;
      padding: 25px 5px; } }

.stats-item i {
  font-size: 42px;
  color: #f4c613;
  margin: 0 0 6px 0;
  transition: all .4s linear; }
  @media only screen and (max-width: 56.25em) {
    .stats-item i {
      font-size: 3rem; } }

.stats-item h3 {
  font-size: 32px;
  color: #fff;
  margin: 5px 0 5px 0; }
  @media only screen and (max-width: 56.25em) {
    .stats-item h3 {
      font-size: 2.7rem; } }

.stats-item p {
  color: #fff;
  margin: 0; }

.stats-item:hover {
  background: #f4c613; }

.stats-item:hover i {
  transform: translateY(-12px);
  color: #212226; }

.section-about-us {
  background-color: var(--color-grey-light-1);
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-about-us {
      padding: 7rem 2rem; } }

.section-stats {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/departments/cse/stats-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stats {
      padding: 8rem 0; } }

.section-links {
  padding: 10rem 0;
  background-image: linear-gradient(to top right, #4ED8F7, #26AFEB 70%); }

.section_PO_PEO {
  padding: 10rem 0;
  background-color: var(--color-grey-light-1); }

.footer {
  padding: 10rem 0;
  background-color: #101d2c; }
