/*
==============================================
navigation
=============================================
*/
.navbar {
    padding: 35px 80px 20px 80px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;

    @media only screen and (max-width: $bp-medium) {
        padding: 25px 12px;
    }
}

.navbar.white-nav-top {
    padding: 10px 80px 10px 80px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.navbar-brand {
    padding: 13px 15px;
    font-size: 1.8rem;

    // @media only screen and (max-width: $bp-medium) {
    //     padding: 0 10px;
    // }
}

#hov:hover {
    color: var(--color-primary);
}

ul.navbar-nav>li.nav-item>a.nav-link {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

ul.navbar-nav>li.nav-item>a.nav-link:hover,
ul.navbar-nav>li.nav-item>a.nav-link:focus {
    background: none;
    color: var(--color-primary);
}

/* white-nav-top */
.white-nav-top {
    background: #fff;
    /* padding:10px 0; */
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav>li.nav-item>a.nav-link {
    color: var(--color-grey-dark-1);
}

.white-nav-top ul.navbar-nav>li.nav-item>a.nav-link:hover,
.white-nav-top ul.navbar-nav>li.nav-item>a.nav-link:focus {
    color: var(--color-primary);
}

.white-nav-top .navbar-brand {
    color: var(--color-grey-dark-1);
}

.white-nav-top>.container-fluid>a:hover {
    color: var(--color-grey-dark-1);
}

/* Scroll spy active state */
.white-nav-top ul.navbar-nav>li.nav-item>a.active.nav-link {
    color: var(--color-primary);
    font-weight: 500;
}

/*
==============================================
mobile menu
=============================================
*/

.navbar-header {
    position: relative;
}

#mobile-nav #mobile-nav-content .nav {
    display: block;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
    /* hide mobile nav open button */
    display: none;

}

#mobile-nav {

    width: 100%;
    /* by default mobile nav will be hidden */
    /* height:100%; */
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#mobile-nav-content {

    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {

    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
    background: none;
}

/* mobile nav scroll spy active state */
.white-nav-top #mobile-nav ul.nav>li.active>a {
    color: #f4c613;
    font-weight: 500;
}

/*
==============================================
bootstrap media queries
=============================================
*/
/* Large devices (desktop & laptop) */
@media(min-width:1200px) and (max-width:1299px) {

    /* navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }
}

/* small devices (Portrait Tablets and small desktop) */
@media(min-width:768px) and (max-width:991px) {

    /* navigation */
    .site-nav-wrapper {
        padding: 0;
    }
}

/* extra small devices (landscape phones & portrait tablets) */
@media(max-width:767px) {

    /* navigation */
    .navbar.white-nav-top {
        padding: 20px 10px;
    }
}


@media(max-width:767px) {

    /* show mobile nav open btn */
    #mobile-nav-open-btn {
        display: block;
        position: absolute;
        right: 7%;
        top: 20%;
    }

}